@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap");

*{
  user-select: none;
}
/* Скрыть стрелочки у полей ввода типа number */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield; /* Firefox */
}

body {
  font-family: "Golos Text", serif;
  background-color: #181616;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  margin-left: 1%;
  padding: 0;
}

.dff{
  font-size: 18px;
  margin-left: -50px;
  margin-right: 20px;
}

#exclude-options {
  padding: 10px;
  height: 39px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  margin-top: 10px;
  background: rgb(55, 51, 51);
  color: white;
  font-size: 15px;
}

.container {
  width: 20rem;
  background-color: #181616;
  border-radius: 0.5rem;
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: 3.5rem;
}
.header i {
  font-size: 1.25rem;
  cursor: pointer;
  display: flex;
  margin-left: -20%;
}
.header h1 {
  flex-grow: 1;
  text-align: left;
  font-size: 23.5px;
  margin-left: 5rem;
  margin-bottom: 5%;
}
.icon {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.icon img {
  width: 6.5rem;
  height: 7rem;
  margin-bottom: 7%;
  margin-left: -5%;
}
.text-left {
  text-align: left;
}
.mb-2 {
  margin-bottom: 0.5rem;
  margin-left: -15%;
  margin-bottom: 1.3rem;
  font-size: 18.5px;
}
.mb-4 {
  margin-bottom: 1rem;
  margin-left: -15%;
  font-size: 18px;
}

#year-input {
  margin-right: 222px;
  font-size: 19px;
  margin-left: -1%;
}

#month-input {
  font-size: 19px;
  margin-left: 4%;
}

#day-input {
  font-size: 19px;
  margin-right: -7%;
  margin-left: 1.5%;
}

.mb-6 {
  margin-bottom: 2rem;
  text-align: center;
  margin-left: -6%;
  margin-top: 2rem;
  font-size: 19.5px;
  
}
.input-group {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 1rem;
}
.input-group input {
  background-color: #181616;
  color: #ffffff;
  border: none;
  outline: none;
  text-align: left;
  width: 100%;
  font-size: 20px;
  margin-left: 1%;
}

.input-group input::placeholder {
  color: grey;
}

.input-group i {
  margin-left: 0.5rem;
}
.date-group {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 1.5rem;
  margin-left: -18%;
}
.date-group input {
  background-color: #181616;
  color: #ffffff;
  border: none;
  outline: none;
  text-align: center;
  width: 3rem;
}
.date-group i {
  margin-left: 0.5rem;
}
.error-message {
  color: #f87171;
  text-align: left;
  margin-bottom: 0.5rem;
}
.color-group {
  display: flex;
  justify-content: space-between;
  margin-left: -4%;
  margin-bottom: 1.5rem;
  margin-right: 2%;

}
.color-group .color-option {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer; /* Устанавливает курсор в виде указателя */
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent; /* Убирает фон */
  user-select: none; /* Убирает выделение текста */
}

.color-option:focus {
  outline: none; /* Убирает обводку при фокусе */
}
.button-group {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-left: -20px;
}
.button-group button {
  background-color: white;
  color: black;
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: 600;
  width: 150px;
  border: none;
  margin-bottom: 10%;
  margin-top: 6%;
  user-select: none;
}

.fa-check:before {
  color: rgb(53, 49, 49);
}

/* Медиазапросы для адаптивности */
@media (max-width: 460px) {
  .container {
    margin-left: 28%;
  }
  body {
    margin-left: 2%;
  }
  .header h1 {
    margin-left: 15%;
  }
  .icon img {
    margin-left: -25%;
  }
  .mb-6 {
    margin-left: -28%;
  }
  .input-group input {
    font-size: 17px;
    margin-right: -85px;
  }
  .fa-pen:before {
    font-size: 17px;
    margin-left: 45px;
  }
  .fa-calendar-alt:before {
    margin-left: -15px;
  }
  .mb-2 {
    font-size: 17px;
  }
  .button-group button {
    margin-left: -19%;
  }
  .color-group {
    margin-right: 5%;
    margin-left: -19%;
  }

  @media (max-width: 415px) {
    body {
      margin-left: 28%;
    }
    .header h1 {
      font-size: 1.5rem;
      margin-left: 5%;
    }
    .icon img {
      margin-left: -35%;
    }
    .fa-arrow-left:before{
      margin-left: -300%;
    }
    .mb-6 {
      margin-left: -15%;
    }
    .color-group {
      margin-right: -1%;
    }
    .mb-2 {
      font-size: 18px;
      margin-left: -28%;
    }
    #year-input {
      margin-right: 68%;
      margin-left: 0.5%;
    }

    .dff{
      font-size: 18px;
      margin-left: -90px;
      margin-right: 20px;
    }

    .input-group input {
      font-size: 19px;
      margin-left: -10%;
      margin-right: -8%;
    }
    .mb-4 {
      font-size: 15px;
      margin-right: 20%;
    }
    .mb-6 {
      margin-left: -34%;
    }
    .color-group {
      margin-right: 5%;
      margin-left: -29%;
    }
    .button-group button {
      margin-left: -26%;
    }
    .fa-pen:before {
      margin-left: 390%;
    }
    #day-input{
      margin-left: -9%;
    }
    .fa-calendar-alt:before {
      margin-left: 50%;
    }
  }
  @media (max-width: 390px) {
    .header h1 {
      font-size: 1.5rem;
      margin-left: 7%;
    }
    .input-group input{
      margin-right: -15%;
    }
    .container {
      margin-right: 10%;
    }
    body {
      margin-left: 55%;
    }
    .mb-4 {
      font-size: 15px;
      margin-right: 9%;
    }
    .mb-2 {
      font-size: 17px;
    }
    .color-group {
      margin-right: 3%;
    }
    .mb-6 {
      margin-left: -35%;
    }
    .icon img {
      margin-left: -105;
      width: 35%;
      height: 20%;
    }
    #year-input {
      margin-right: 64%;
    }
    .button-group button{
      margin-left: -28%;
      width:55%;
      height: 20%;
      font-size: 25px;
    }
  }
  @media (max-width: 360px) {
    body {
      margin-left: 75%;
    }
    .header h1 {
      font-size: 1.5rem;
      margin-left: 8%;
    }
    .icon img {
      margin-left: -115;
      height: 90%;
      width: 45%;
    }
    .mb-2{
      font-size: 19.5px;
    }
    .input-group input{
      font-size: 18.5px;
      margin-right: -128px;
    }
    .fa-pen:before{
      margin-left: 730%;
    }
    .color-group {
      margin-right: 1%;
    }
    .mb-6{
      margin-left: -37%;
    }
    .button-group button{
      margin-left: -107;
    }
    #year-input {
      margin-right: 58%;
    }

    .dff{
      font-size: 18px;
      margin-left: -90px;
      margin-right: 20px;
    }

    @media (max-width: 330px){
      body {
        margin-left: 100%;
      }
      .header h1 {
        font-size: 1.5rem;
        margin-left: 2%;
      }
      .icon img {
        margin-left: -145;
        height: 90%;
        width: 45%;
      }
      .mb-2{
        margin-left: -100px;
      }
      .input-group input{
        margin-left: -7%;
        margin-right: -147px;
        font-size: 21px;
      }
      .mb-4{
        margin-left: -69px;
      }
      .mb-2{
        font-size: 19px;
      }
      .mb-6{
        margin-left: -45%;    
      }
      .color-group{
        margin-left: -47%;
      }
      .button-group{
        margin-left: -12%;
      }

      .dff{
        font-size: 18px;
        margin-left: -100px;
        margin-right: 20px;
      }

      #year-input{
        margin-right: 57%;
      }
      .fa-calendar-alt:before{
        font-size: 19px;
        margin-left: 20px;
      }
      .fa-pen:before{
        font-size: 19px;
      }
    }
  }
  @media (max-width: 330px){
    .header h1{
      margin-left: 6%;
    }
    .icon img {
      margin-left: -120px;
      height: 90%;
      width: 45%;
    }
    .mb-6{
      margin-left: -38%;
    }
    .color-group{
      margin-left: -35%;
    }
    .button-group{
      margin-left: -6%;
    }
  }
}
