@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #181616;
}

.container {
    text-align: center;
    color: white;
    width: 90%;
    max-width: 390px;
}

.container img {
    width: 30%;
    height: 30%;
    z-index: 2;
    margin-bottom: 0;
}

.container h1 {
    margin-bottom: 6%;
    margin-top: 4%;
    font-weight: 700;
    font-size: 29px;
}

.divider {
    width: 50%;
    height: 2.5px;
    background-color: rgb(255, 255, 255);
    margin: 7% auto;
}

.container input {
    width: 100%;
    padding: 15px;
    margin: 13px 0;
    border: 2.5px solid #c4b9b9;
    border-radius: 25px;
    background-color: #000000;
    color: white;
    font-size: 17px;
    box-sizing: border-box;
}

.container button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 25px;
    background-color: #7B00FF; /* Цвет кнопки */
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 4.5%;
    transition: transform 0.3s ease, background-color 0.6s; /* Плавный переход */
}

.container button:hover {
    background: #ffffff; /* Цвет при наведении */
    color: black;
    transform: scale(1.05); /* Увеличение кнопки при наведении */
}

.container button:active {
    background-color: #7B00FF; /* Цвет при нажатии */
    color: white;
    transform: scale(0.95); /* Уменьшение кнопки при нажатии */
}

.Log-in-button {
    color: rgb(166, 219, 219); /* Цвет ссылки как в шаблоне LogIn */
    font-size: 18px;
    margin-left: 1%;
}

.Log -in-button:hover {
    transition: .9s;
    text-decoration: underline;
}

.Registration-button-white {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 25px;
    background-color: #ffffff; /* Белый фон */
    color: black; /* Черный текст */
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 4.5%;
    transition: transform 0.3s ease, background-color 0.6s; /* Плавный переход */
}

.Registration-button-white:hover {
    background-color: #f0f0f0; /* Светло-серый фон при наведении */
    color: black; /* Черный текст при наведении */
    transform: scale(1.05); /* Увеличение кнопки при наведении */
}

.Registration-button-white:active {
    background-color: #e0e0e0; /* Темно-серый фон при нажатии */
    color: black; /* Черный текст при нажатии */
    transform: scale(0.95); /* Уменьшение кнопки при нажатии */
}

/* Responsive Styles */
@media (max-width: 600px) {
    .container {
        width: 95%;
    }

    .container h1 {
        font-size: 20px;
    }

    .form{
        margin: 30px;
    }
    .container input, .container button, .Registration-button-white {
        font-size: 14px;
    }

}